<figure class="comparison-container">
    <img src="{{ include.image_right }}" alt="">
    <span class="image-label" data-type="original">{% if include.title_right %}{{ include.title_right }}{% else %}Original{% endif %}</span>
    
    <div class="resize-image" style="background: url('{{ include.image_left }}') no-repeat left top;"> 
    <span class="image-label" data-type="modified">{% if include.title_left %}{{ include.title_left }}{% else %}Modified{% endif %}</span>
    </div>
    
    <span class="handle"><i class="fas fa-arrows-alt-h"></i></span>
   </figure> 