// Colors
$grey-5: #E9E9E9;
$grey-4: #D0D0D0;
$grey-3:#AEAEAE;
$grey-2: #808080;
$grey: #525252;

$type-black: #262626;
$intel-blue: #0068B5;

// Breakpoints
$breakpoint-xsmall: 640px;
$breakpoint-small: 768px;
$breakpoint-med: 1024px;
$breakpoint-large: 1100px;
$breakpoint-xlarge: 1200px;

// Typography
$font-heading: "Intel One Display Light", Helvetica, Arial, sans-serif;
$font-heading-alt: "Intel One Display Medium", Helvetica, Arial, sans-serif;
$font-text: "Intel Clear Regular", Helvetica, Arial, sans-serif;